.repo-list {
  width: 80%;
  height: 100%;
  display: flex;
  padding: $spacing4 0;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $spacing4;
  overflow: auto;
}

.repo-list__item {
  @media (min-width: $breakpointLg) {
    width: calc(25% - #{$spacing4});
  }

  @media (min-width: $breakpointMd) and (max-width: #{$breakpointLg - 1px}) {
    width: calc(33.333% - #{$spacing4});
  }

  @media (max-width: #{$breakpointMd - 1px}) {
    width: calc(50% - #{$spacing4});
  }
}

.repo-list__no-more {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing4 0;

  .no-more-text {
    color: $grayDark;
  }
}